<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="bug.svg">
    <title>Ellevate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
      <%= render partial: determine_nav %>

  <body>
    <%= yield %>
  </body>
</html>
